<h3 class="announcement">{{announcement.title}}</h3>
<h5 class="message">{{announcement.message}}</h5>
<div class="form-group">
  <button class="btn btn-danger" {{action 'delete' announcement}}>Delete Announcement</button>
</div>
